NODE_ENV=development
PORT=5000
MONGODB_URI=mongo uri
CLIENT_URL=http://localhost:5173
JWT_USER_SECRET=replace_with_user_jwt_secret
JWT_ADMIN_SECRET=replace_with_admin_jwt_secret
JWT_USER_EXPIRES_IN=7d
JWT_ADMIN_EXPIRES_IN=7d
